[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "/Users/erudko/.zsh/plugins/zsh-autosuggestions"]
	path = /Users/erudko/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "/Users/erudko/.zsh/plugins/zsh-vi-mode"]
	path = /Users/erudko/.zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "/Users/erudko/.zsh/plugins/fast-syntax-highlighting"]
	path = /Users/erudko/.zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "/Users/erudko/.zsh/themes/powerlevel10k"]
	path = /Users/erudko/.zsh/themes/powerlevel10k
	url = https://gitee.com/romkatv/powerlevel10k.git
