[submodule ".zsh/themes/powerlevel10k"]
	path = .zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule ".zsh/plugins/fast-syntax-highlighting"]
	path = .zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
	shallow = true
[submodule ".zsh/plugins/zsh-vi-mode"]
	path = .zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
	shallow = true
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
	shallow = true
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
	shallow = true
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	shallow = true
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	shallow = true
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
	shallow = true
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	shallow = true
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	shallow = true
[submodule ".vim/bundle/identLine"]
	path = .vim/bundle/identLine
	url = https://github.com/Yggdroot/indentLine.git
	shallow = true
[submodule ".vim/bundle/quick-scope"]
	path = .vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope.git
	shallow = true
[submodule ".vim/bundle/vim-yaml-folds"]
	path = .vim/bundle/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds.git
	shallow = true
[submodule ".vim/bundle/vim-cool"]
	path = .vim/bundle/vim-cool
	url = https://github.com/romainl/vim-cool.git
	shallow = true
