[submodule ".submodules/jellybeans"]
	path = .submodules/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule ".submodules/vim-airline"]
	path = .submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".submodules/vim-airline-themes"]
	path = .submodules/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".submodules/vim-surround"]
	path = .submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
