source ~/.vimrc

" IdeaVim Options
set ideajoin
set idearefactormode=keep
set visualbell

" Plugins
set surround
set commentary
set quickscope
set textobj-entire
set highlightedyank
set switch

" Options
"" Plugin options
""" highlightedyank
let g:highlightedyank_highlight_color = "rgba(255, 152, 0, 50)"

" Keymappings -----------------------------
"" Idea
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap tt :action Terminal.OpenInTerminal<CR>

nnoremap <leader>c :action RunClass<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>f :action ChooseRunConfiguration<CR>

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

"" Vim shared
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-Q> :q<CR>

nmap <leader>r <Action>(ReformatCode)
nnoremap <leader>q :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>