/* As little space before the tab name as possible.
   The fold/unfold icon is not affected. */
tab-item:not(.pinned) tab-item-substance {
  padding-left: 0px !important; /* !important is required when there are enough tabs to cause a scrollbar */
}

/* Change styling of pending (unloaded) tabs */
tab-item.discarded tab-item-substance {
  opacity: 0.75;
}

tab-item.discarded .label-content {
  color: red;
}

tab-item {
  --tab-size: 30px !important;
}

tab-item  tab-item-substance {
  height: var(--tab-size);
}

tab-item[data-current-uri^="https://github.com"] tab-item-substance {
  background-color: hsl(300,71%,8%);
}

tab-item tab-item-substance:hover {
  background: #00000000 !important;
  opacity: 1;
}

tab-item tab-counter {
  display: none;
}

.newtab-button-box {
  display: none;
}

#tabbar {
  bottom: 0 !important; /* Eliminate dead space on bottom */
}

/* "#tabbar" is required for TST 3.4.0 and later! */
#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
  display: none;
}

#tabbar { scrollbar-width: none; }
