/* Hide horizontal tabs at the top of the window */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Tree Style Tabs */

/* Show title of unread tabs with red and italic font */

:root.sidebar tab-item.unread .label-content {
  color: red !important;
  font-style: italic !important;
}

#tabbar .after-tabs {
  display: none !important;
}

/* Add private browsing indicator per tab */

:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}

/* Compact tab layout */
:root { --tab-height: 20px !important; }
.tab { height: 20px !important; }
/* Shrink space between pinned tabs and tab bar, only when pins are present */
#tabbar[style*="margin"] { margin-top: 20px !important; }

/* Show title of unread tabs with red font */
.tab.unread .label {
  color: red !important;
}

/* Add private browsing indicator per tab */
.tab.private-browsing .label:before {
  content: " ";
}

/* Change styling of the favicon of pending (unloaded) tabs */
tab-item.discarded tab-favicon {
  opacity: 0.5 !important;
}
/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}
#titlebar {
  visibility: collapse;
}

/* Tree Style Tabs */

/* Show title of unread tabs with red and italic font */

:root.sidebar tab-item.unread .label-content {
  color: red !important;
  font-style: italic !important;
}

#tabbar .after-tabs {
  display: none !important;
}

/* Add private browsing indicator per tab */

:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}

/* Compact tab layout */
:root { --tab-height: 20px !important; }
.tab { height: 20px !important; }
/* Shrink space between pinned tabs and tab bar, only when pins are present */
#tabbar[style*="margin"] { margin-top: 20px !important; }

/* Show title of unread tabs with red font */
.tab.unread .label {
  color: red !important;
}

/* Add private browsing indicator per tab */
.tab.private-browsing .label:before {
  content: " ";
}

/* Change styling of the favicon of pending (unloaded) tabs */
tab-item.discarded tab-favicon {
  opacity: 0.5 !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
